.nav-background {
    background-color: #1B242D;
    padding: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    width: 100%;
    z-index: 10;
  }

  .nav-list{
    display:  flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 40px;
  }

  .nav-default{
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 10px;
    transition: transform 0.5s ease;
    transform: scale(1);
  }
 .nav-selected{
    /*
    id changes dynamically based on URL pathname
    Selected items become bigger and change colour to white
    */
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 10px;
    filter: brightness(500%);
    transition: transform 0.3s ease;
    transform: scale(1.8);
  }