#background {
    background-color: #1B242D;
    color: #fff;
    padding: 0px;
    position: fixed; /* Fix the bar at the bottom */
    left: 0;
    bottom: 0;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    width: 100%;
    z-index: 2;
  }

  #list{
    display:  flex;
    justify-content: space-evenly;
  }

  #default-li{
    margin: 5px 0 0 0;
    padding: 10px;
    list-style-type: none;
    transition: transform 0.5s ease;
    transform: scale(1);
  }
 #selected-li{
    /*
    id changes dynamically based on URL pathname
    Selected items become bigger and change colour to white
    */
    margin: 5px 0 0 0;
    padding: 10px;
    list-style-type: none;
    filter: brightness(500%);
    transition: transform 0.3s ease;
    transform: scale(1.8);
  }