
.input-container{
    /* margin-top: 5%; */
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.planner-input[type="text"] {
    display: flex;
    width: 200px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    padding: 5px; /* Add padding for better visual appearance */
    margin-bottom: 10px; /* Add margin for spacing between textboxes */
    border-radius: 10px;
    margin-right: 3%;
    display: inline-block; /* Display inputs horizontally */
    opacity: 50%;
    background-color: rgb(31, 29, 29);
    font-family: "Gill Sans", serif;
}

.list-container{
    position: absolute;
    display: flex;
    left: 4%;
    width: 96%;
    height: 100%;
    text-align: left;
}

.itemlist{
    position: absolute;
    padding-left: 0%;
    left: 0%;
    display: flex;
    list-style-type: none;
}

.li{
    text-align: left;
}

.ul li{
    list-style-type:none;
    display: inline-block; /* Display inputs horizontally */
}

.add-button,
.remove-button{
    border: none;
    background: none;
    cursor: pointer; /* Use default cursor */
    
    list-style-type: none;
    text-align: center;
    border-radius: 10px;
    padding: 20px 20px; /* Adjust padding for smaller screens */
    flex: 1;

    color: white;
    font-size: larger;
    font-weight: 450;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease-in;
}

.add-button:hover,
.remove-button:hover{
    border-radius: 10px;
    background-color: #2c9e75;
    transition: background-color 0.3s ease-in;
}

.list-of-item{
    font-size: 28px;
    font-weight: 1000;
    text-decoration: underline;
}

.list-of-time{
    font-size: 18px;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
}

.list-of-description{
    font-size: 18px;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
}

.list-box-container{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 15px;
}