
.input-container{
    /* margin-top: 5%; */
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40%;
}

input[type="text"] {
    display: flex;
    width: 200px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    padding: 5px; /* Add padding for better visual appearance */
    margin-bottom: 10px; /* Add margin for spacing between textboxes */
    border-radius: 10px;
    margin-right: 3%;
    display: inline-block; /* Display inputs horizontally */
    opacity: 50%;
    background-color: rgb(31, 29, 29);
    font-family: "Gill Sans", serif;
}

.list-container{
    position: absolute;
    display: flex;
    left: 4%;
    width: 96%;
    height: 100%;
    text-align: left;
}

.itemlist{
    position: absolute;
    padding-left: 0%;
    left: 0%;
    display: flex;
    list-style-type: none;
}

.li{
    text-align: left;
}

.ul li{
    list-style-type:none;
    display: inline-block; /* Display inputs horizontally */
}

.remove-button{
    display: flex;
    font-size: 20px;
    margin-bottom: 5%;
    border-radius: 20px;
}

.list-of-item{
    font-size: 28px;
    font-weight: 1000;
    text-decoration: underline;
}

.list-of-time{
    font-size: 18px;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
}

.list-of-description{
    font-size: 18px;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
}

.list-box-container{
    background-color: rgba(24, 23, 23, 0.4);
    border-radius: 20px;
    padding: 15px;
}