
.Stats-Screen {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.Outer-Rectangle {
    position: absolute;
    top: 3%;
    left: 2%;
    right: 2%;
    bottom: 15%;
    flex-shrink: 0;
    border-radius: 40px;
    background: #d9d9d9;
    opacity: 35%;
    mix-blend-mode: color-burn;
    display: flex;
    flex-direction: column;
}

.Search-Bar-Area {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
}

.Search-Input {
    width: calc(100% - 30px); 
    height: 35px;
    background: #D9D9D9;
    border-radius: 40px;
    font-size: medium;
    padding-left: 50px; 
    border: none;
    position: relative;
}

.Search-Button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    left: 3.9%; 
    top: 70%; 
    transform: translateY(-50%);
    height: 100%;
}

.Search-Button img {
    width: 24px;
    height: 24px;
    margin: auto; 
}

.Details-Rectangle{
    position: absolute;
    flex: 1;
    top: 8.5%;
    height: 45%;
    left: 70%;
    right: 2%;
    border-radius: 20px;
    background: #D9D9D9;
    mix-blend-mode: multiply;
}

.Chart-Rectangle{
    position: absolute;
    top: 55%;
    left: 70%;
    right: 2%;
    height: 43%;
    flex-shrink: 0;
    border-radius: 17px;
    background: #d9d9d9;
    mix-blend-mode: multiply;
}

.weather-details-container{
    position: absolute;
    flex: 1;
    top: 8.5%;
    height: 45%;
    left: 70%;
    right: 2%;
    border-radius: 20px;
}

.weather-details-header {
    position: absolute;
    top: 12%; 
    left: 49%; 
    margin-right: 20px; 
    width: 100%;
    transform: translate(-50%, -50%); 
    z-index: 2;
    color: black;
    font-size: 22px;
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.weather-details-p{
    position: absolute;
    top: 80%;
    left: 0%;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


.Weather-Map {
    z-index: 4;
    position: absolute;
    top: 15%;
    left: 4%;
    width: 64%;
    height: 66%; 
    border-top: 40px;
    overflow: hidden;
    margin-top: 20px; 
    opacity: 100%;
  }

.Weather-Map iframe {
    border-radius: 40px;
    z-index: 5;
    width:100%;
    height: 100%;
    object-fit: cover; 
}


.map-header{
    z-index: 4;
    position: absolute;
    top: 8.5%;
    left: 30%;
    width: 23.5%;
    height: 20%; 
    z-index: 2;
    color: black;
    font-size: 35px;
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cloud-button{
    position: absolute;
    top: 1%;
    left: 2%;
    width: 15%;
    height: 5%;
    color: red;
}
