.s-header {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0px;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
  
.s-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    margin: 0;
}

.s-button {
    border: none;
    background: none;
    cursor: pointer; /* Use default cursor */
    
    list-style-type: none;
    text-align: center;
    border-radius: 10px;
    padding: 20px 20px; /* Adjust padding for smaller screens */
    flex: 1;

    color: white;
    font-size: larger;
    font-weight: 450;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
  }

button:hover{
    border-radius: 10px;
    background-color: #2c9e75;
    transition: background-color 0.3s ease-in;
}