.Rectangle5{
    width: 100%; 
    height: 100%; 
    mix-blend-mode: color-burn; 
    border-radius: 40px
}

.container1{
    display:flex;
}

a{
    text-decoration: none;
}

.Rectangle24{ 
    background: #D9D9D9; 
    border-radius: 19px;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 50 px;
    margin-left: 5%;
    margin-right: 5%
}

.SUGGESTION{ 
    color: #69C859; 
    font-size: 24px; 
    font-family: Barlow; 
    font-weight: 400; 
    word-wrap: break-word;
    align-items: center;
    text-align:center;
}

.container2{
    margin-top: 1000 px;
    width: 100%; 
    height: 70vh; 
    background: #D9D9D9; 
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 5%;
    position: relative; 
}

.searchbox{
    margin-top: 10px;
    border-radius: 20px;
}

.searchbar{
    text-align: center;
    align-items: center;
}

.container4{
    box-shadow: 4px 4px 4px; 
    border-radius: 21px; 
    border: 1px black solid; 
    background: grey;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 20%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheatimage{
    background-image: url('./assets/wheat\ image.jpg');
}

.appleimage{
    background-image: url('./assets/apple.jpg');
}

.raddishimage{
    background-image:url('./assets/raddish\ image.jpg');
}

.carrotimage{
    background-image:url('./assets/carrot\ image.jpg')
}

.textbox{
    display: inline-block; /* Display as inline-block to fit the content */
    border-radius: 10px;
    border: 1px solid black; /* Specify the border style */
    background-color: white;
    padding: 5px 10px; /* Add padding for spacing */
    text-align: center; /* Center the text horizontally */
}

.wheat{ 
    color: black; 
    font-size: 24px; 
    font-family: Barlow; 
    font-weight: 400; 
    word-wrap: break-word;
    align-items: center;
    text-align:center;
}

.apple{ 
    color: black; 
    font-size: 24px; 
    font-family: Barlow; 
    font-weight: 400; 
    word-wrap: break-word;
    align-items: center;
    text-align:center;
}

.raddish{ 
    color: black; 
    font-size: 24px; 
    font-family: Barlow; 
    font-weight: 400; 
    word-wrap: break-word;
    align-items: center;
    text-align:center;
}

.carrot{
    color: black; 
    font-size: 24px; 
    font-family: Barlow; 
    font-weight: 400; 
    word-wrap: break-word;
    align-items: center;
    text-align:center;
}

/*.container5{
    display:flex;
}
/*
.container6{
    background: #D9D9D9; 
    border-radius: 19px;
    justify-content: center; /* Horizontal centering 
    align-items: center;  Vertical centering 
    padding: 20px;
    box-sizing: border-box;
    margin: 7%;
}
*/
.textbottom{
    box-sizing: border-box;
    align-items: center;
    text-align:center;
}