.Scontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.Slarge-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 85%;
    max-height: 60%;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

.Slarge-container::-webkit-scrollbar{
    display: none;
}

.Sbox-title{
    background: #ffffff;
    border-radius: 20px;
    border: 2px solid #000000;
    padding: 10px 20px;
    color: #000000;
}

.S-entry{
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    flex: 1;
}
.agricultureimage{ background-image: url('./assets/Crops/Extreme.png');}

.wheatimage{ background-image: url('./assets/Crops/Wheat.jpg');}

.appleimage{ background-image: url('./assets/Crops/Apple.jpg');}

.raddishimage{ background-image: url('./assets/Crops/Raddish.jpg');}

.carrotimage{ background-image: url('./assets/Crops/Carrots.jpg')}

.cucumberimage{ background-image: url('./assets/Crops/Cucumbers.jpg');}

.grapesimage{ background-image: url('./assets/Crops/Grapes.png')}

.greenonionimage{ background-image: url('./assets/Crops/GreenOnions.jpg');}

.lettuceimage{ background-image:url('./assets/Crops/Lettuce.jpg');}

.onionsimage{ background-image:url('./assets/Crops/Onions.jpg');}

.peasimage{ background-image:url('./assets/Crops/Peas.jpg');}

.peppersimage{ background-image:url('./assets/Crops/Peppers.png');}

.potatoimage{ background-image:url('./assets/Crops/Potatoes.jpg');}

.spinachimage{ background-image:url('./assets/Crops/Spinach.png');}

.cornimage{ background-image:url('./assets/Crops/SweetCorn.jpg');}

.potatoesimage{ background-image:url('./assets/Crops/SweetPotatoes.jpg');}

.tomatoimage{ background-image:url('./assets/Crops/Tomatoes.png');}

