/* Styling Sheet for the forcast displays  */

/* Current Weather  */
.CurrentWcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%; 
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%; 
    color: white;
}

/* Styles for Large Weather Container */
.CWlarge-container {
    position: static; /* Positioning */
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 35%;
    max-height: 60%;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 2%; 
}

.CWbox-title{
    flex-shrink: 0;
    width: 50%;
    height: 35px;
    text-align: center;
    background: rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 40px;
}

/* Styles for Large Icon */
.large-icon {
    width: 100px; 
    height: 100px; 
    margin-right: 20px; 
}

/* Styles for Small Container */
.small-container {
    width: 15%;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.4); /* Match background color */
    padding: 20px;
    margin-bottom: 20px;
    flex-shrink: 0;
}

/* Styles for Small Container Wrapper */
.small-container-wrapper {
    display: flex;
    padding-left: 20px;
}

.small-container {
    flex: 1; /* Grow to fill available space equally */
    margin-right: 20px;
}

/* Daily Weather  */
.DailyWcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.DWlarge-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 85%;
    max-height: 60%;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

.DWlarge-container::-webkit-scrollbar{
    display: none;
}

.DWbox-title{
    flex-shrink: 0;
    width: 50%;
    height: 35px;
    text-align: center;
    background: rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 40px;
}

.DW-entry{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 6px;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    flex: 1;
}

.entry-day{
    flex: 3;
}

.entry-icon{
    flex: 1;
}

.entry-temp{
    display: flex;
    justify-content: space-around;
    flex: 5;
}

.entry-desc{
    font-size: 1.2rem;
    font-weight: 200;
    color: #d9d9d9;
    flex: 2;
}

/* Monthly Container */
.MonthlyWcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 160px; 
    color: white;
}

.MWlarge-container{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 85%;
    max-height: 60%;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}